footer {
  padding: 1em;
  color: white;
}

a {
   color: rgba(255, 255, 255, 0.5);
  transition: 0.3s;
}

a:hover {
  color: rgba(255, 255, 255, 1);
  transition: 0.3s;
}

.social-media-icon, .social-media-icon:visited {
  background-color: rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255, 0.5);
  border: solid 0.1em rgba(255, 255, 255, 0.5);
  transition: 0.3s;
}

.social-media-icon span {
  display: block;
}

.social-media-icon:hover {
  background-color: rgba(255, 255, 255, 0.91);
  border: solid 0.1em rgba(255, 255, 255, 0);
  transform: scale(1.1);
  transition: 0.3s;
}

.fb-icon:hover {
  color: #4267B2;
  margin-right: 0.02em;
}

.twitter-icon:hover {
  color: #38A1F3;
}

.github-icon:hover {
  color: #000000;
}

.linkedin-icon:hover {
  color: #0077B5;
}
