<footer>
  <div fxFlex="100" fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="row" fxLayoutGap="1em">
      <a mat-mini-fab href="https://www.facebook.com/harryhseong" target="_blank" class="social-media-icon fb-icon mat-elevation-z0">
        <span><i class="fab fa-facebook-square fa-fw"></i></span>
      </a>
      <a mat-mini-fab href="https://twitter.com/harryseong" target="_blank" class="social-media-icon twitter-icon mat-elevation-z0">
        <span><i class="fab fa-twitter fa-fw"></i></span>
      </a>
      <a mat-mini-fab href="https://github.com/harryseong" target="_blank" class="social-media-icon github-icon mat-elevation-z0">
        <span><i class="fab fa-github fa-fw"></i></span>
      </a>
      <a mat-mini-fab href="https://www.linkedin.com/in/harry-seong/" target="_blank" class="social-media-icon linkedin-icon mat-elevation-z0">
        <span><i class="fab fa-linkedin-in fa-fw"></i></span>
      </a>
    </div>
  </div>
</footer>
