.wu {
    display: inline-block;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
}

.wu-128 { width: 128px; height: 128px; }

.wu-white.wu-chanceflurries { background: url(icons/white/png/128x128/chanceflurries.png), linear-gradient(transparent, transparent); }
.wu-white.wu-chancerain { background: url(icons/white/png/128x128/chancerain.png), linear-gradient(transparent, transparent); }
.wu-white.wu-chancesleet { background: url(icons/white/png/128x128/chancesleet.png), linear-gradient(transparent, transparent); }
.wu-white.wu-chancesnow { background: url(icons/white/png/128x128/chancesnow.png), linear-gradient(transparent, transparent); }
.wu-white.wu-chancetstorms { background: url(icons/white/png/128x128/chancetstorms.png), linear-gradient(transparent, transparent); }
.wu-white.wu-clear { background: url(icons/white/png/128x128/clear.png), linear-gradient(transparent, transparent); }
.wu-white.wu-cloudy { background: url(icons/white/png/128x128/cloudy.png), linear-gradient(transparent, transparent); }
.wu-white.wu-flurries { background: url(icons/white/png/128x128/flurries.png), linear-gradient(transparent, transparent); }
.wu-white.wu-fog { background: url(icons/white/png/128x128/fog.png), linear-gradient(transparent, transparent); }
.wu-white.wu-hazy { background: url(icons/white/png/128x128/hazy.png), linear-gradient(transparent, transparent); }
.wu-white.wu-mostlycloudy { background: url(icons/white/png/128x128/mostlycloudy.png), linear-gradient(transparent, transparent); }
.wu-white.wu-mostlysunny { background: url(icons/white/png/128x128/mostlysunny.png), linear-gradient(transparent, transparent); }
.wu-white.wu-partlycloudy { background: url(icons/white/png/128x128/partlycloudy.png), linear-gradient(transparent, transparent); }
.wu-white.wu-partlysunny { background: url(icons/white/png/128x128/partlysunny.png), linear-gradient(transparent, transparent); }
.wu-white.wu-rain { background: url(icons/white/png/128x128/rain.png), linear-gradient(transparent, transparent); }
.wu-white.wu-sleet { background: url(icons/white/png/128x128/sleet.png), linear-gradient(transparent, transparent); }
.wu-white.wu-snow { background: url(icons/white/png/128x128/snow.png), linear-gradient(transparent, transparent); }
.wu-white.wu-sunny { background: url(icons/white/png/128x128/sunny.png), linear-gradient(transparent, transparent); }
.wu-white.wu-tstorms { background: url(icons/white/png/128x128/tstorms.png), linear-gradient(transparent, transparent); }
.wu-white.wu-unknown { background: url(icons/white/png/128x128/unknown.png), linear-gradient(transparent, transparent); }
