.wu {
    display: inline-block;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
}

.wu-128 { width: 128px; height: 128px; }

.wu-white.wu-chanceflurries { background: url(icons/white/svg/chanceflurries.svg), linear-gradient(transparent, transparent); }
.wu-white.wu-chancerain { background: url(icons/white/svg/chancerain.svg), linear-gradient(transparent, transparent); }
.wu-white.wu-chancesleet { background: url(icons/white/svg/chancesleet.svg), linear-gradient(transparent, transparent); }
.wu-white.wu-chancesnow { background: url(icons/white/svg/chancesnow.svg), linear-gradient(transparent, transparent); }
.wu-white.wu-chancetstorms { background: url(icons/white/svg/chancetstorms.svg), linear-gradient(transparent, transparent); }
.wu-white.wu-clear { background: url(icons/white/svg/clear.svg), linear-gradient(transparent, transparent); }
.wu-white.wu-cloudy { background: url(icons/white/svg/cloudy.svg), linear-gradient(transparent, transparent); }
.wu-white.wu-flurries { background: url(icons/white/svg/flurries.svg), linear-gradient(transparent, transparent); }
.wu-white.wu-fog { background: url(icons/white/svg/fog.svg), linear-gradient(transparent, transparent); }
.wu-white.wu-hazy { background: url(icons/white/svg/hazy.svg), linear-gradient(transparent, transparent); }
.wu-white.wu-mostlycloudy { background: url(icons/white/svg/mostlycloudy.svg), linear-gradient(transparent, transparent); }
.wu-white.wu-mostlysunny { background: url(icons/white/svg/mostlysunny.svg), linear-gradient(transparent, transparent); }
.wu-white.wu-partlycloudy { background: url(icons/white/svg/partlycloudy.svg), linear-gradient(transparent, transparent); }
.wu-white.wu-partlysunny { background: url(icons/white/svg/partlysunny.svg), linear-gradient(transparent, transparent); }
.wu-white.wu-rain { background: url(icons/white/svg/rain.svg), linear-gradient(transparent, transparent); }
.wu-white.wu-sleet { background: url(icons/white/svg/sleet.svg), linear-gradient(transparent, transparent); }
.wu-white.wu-snow { background: url(icons/white/svg/snow.svg), linear-gradient(transparent, transparent); }
.wu-white.wu-sunny { background: url(icons/white/svg/sunny.svg), linear-gradient(transparent, transparent); }
.wu-white.wu-tstorms { background: url(icons/white/svg/tstorms.svg), linear-gradient(transparent, transparent); }
.wu-white.wu-unknown { background: url(icons/white/svg/unknown.svg), linear-gradient(transparent, transparent); }
