<div fxLayout="column" fxLayoutGap="1em">

  <div class="dialog-header">
    {{data.header}}
  </div>

  <div class="dialog-content">
    <div class="dialog-subheader">
      <i class="fas fa-info-circle fa-fw"></i> why
    </div>
    <div>
      {{data.explanation}}
    </div>
  </div>

  <div class="dialog-content">
    <div class="dialog-subheader">
      <i class="fas fa-code fa-fw"></i> how
    </div>
    <div>
      {{data.tech}}
    </div>
  </div>
</div>

<mat-dialog-actions fxLayoutAlign="end end">
  <button mat-stroked-button class="close-btn" (click)="close()">CLOSE</button>
</mat-dialog-actions>
