.dialog-header {
  font-size: 1.4em;
  font-weight: 300;
  color: rgba(255, 255, 255, 1);
}

.dialog-subheader {
  font-size: 1.2em;
  color: rgba(255, 255, 255, 1);
}

.dialog-content {
  font-size: 0.8em;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
}

.close-btn {
  font-size: 0.8em;
  font-weight: 300;
}
