<div class="content" fxLayout="column" fxLayoutGap="2em" fxLayoutGap.xs="1em">

  <app-page-header [pageHeader]="pageHeader" [pageSubheader]="pageSubheader" [pageExplanation]="pageExplanation" [pageTech]="pageTech"></app-page-header>

  <div fxLayout="row" fxLayoutAlign="center center" [@contentAnimations]>
    <div fxFlex="50" fxFlex.sm="60" fxFlex.xs="90">
      <mat-tab-group>
        <mat-tab label="dino">
          <div class="mat-tab-content">
            <app-dino></app-dino>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>

</div>
