<div class="content" fxLayout="column" fxLayoutGap="2em" fxLayoutGap.xs="1em">

  <app-page-header [pageHeader]="pageHeader" [pageSubheader]="pageSubheader" [pageExplanation]="pageExplanation" [pageTech]="pageTech"></app-page-header>

  <div fxLayout="column" fxLayoutGap="2em" fxLayoutGap.xs="1.5em">

    <!--Weather search-->
    <div fxLayout="row" fxLayoutAlign="center center" [@contentAnimations]>
      <div fxLayout="row" fxFlex="30" fxFlex.sm="45" fxFlex.xs="100">

        <div fxLayoutAlign="center center">
          <button mat-stroked-button (click)="lookupHarrysWeather()"
                  [ngClass]="['harry-btn', currentZip=='60201' ? 'current' : '']">
            <span><i class="fas fa-map-marker-alt"></i> Harry's Weather</span>
          </button>
        </div>

        <span class="spacer"></span>

        <div>
          <form [formGroup]="weatherForm" class="weather-form" (keydown.enter)="$event.preventDefault()">
            <mat-form-field class="weather-form-field">
              <mat-label>zipcode</mat-label>
              <input type="text" matInput #zip formControlName="zip" minlength="5" maxlength="5" color="accent" (keyup.enter)="lookupCurrentWeather()">
              <button mat-button-mini-fab [disabled]="!weatherForm.valid || weatherForm.get('zip').value.length!=5" matSuffix mat-icon-button aria-label="search" (click)="lookupCurrentWeather()">
                <i class="fas fa-search"></i>
              </button>
              <mat-hint align="end">{{weatherForm.get('zip').value.length}} / 5</mat-hint>
            </mat-form-field>
          </form>
        </div>

      </div>
    </div>

    <!--Weather content-->
    <div *ngIf="weatherRsp" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="1.5em" [@contentAnimations]>
      <div fxLayout="column" fxFlex="50" fxLayoutAlign="end end">
        <div class="white-text weather-icon">
          <i [ngClass]="['wi', weatherIcon]"></i>
        </div>
      </div>

      <div fxLayout="column" fxFlex="50" fxLayoutGap="0">
        <div class="city">
          {{weatherRsp.name}}
        </div>
        <div class="white-text current-temp" fxLayoutAlign="start start">
          {{round(weatherRsp.main.temp)}}<span class="weather-unit">&#176;<span>{{weatherUnit}}</span></span>
        </div>
        <div class="white-text weather-hi-lo" fxLayoutAlign="start start">
          {{round(weatherRsp.main.temp_max)}}<span class="weather-unit">&#176;<span>{{weatherUnit}}</span></span>
          <span class="gray-text">&nbsp;/&nbsp;</span>
          {{round(weatherRsp.main.temp_min)}}<span class="weather-unit">&#176;<span>{{weatherUnit}}</span></span>
        </div>
        <div class="weather-description white-text">{{weatherRsp.weather[0].description}}</div>

        <div class="weather-misc-info white-text">
          <div>humidity&nbsp;<span class="gray-text">{{weatherRsp.main.humidity}}%</span></div>
          <div>sunrise&nbsp;<span class="gray-text">{{formatToCST_hmma(weatherRsp.sys.sunrise)}} CST</span></div>
          <div>sunset&nbsp;<span class="gray-text">{{formatToCST_hmma(weatherRsp.sys.sunset)}} CST</span></div>
        </div>

        <div fxLayout="row" fxLayoutGap="0.3em" fxLayoutAlign="start start" fxFlexOffset="1em" [@contentAnimations]>
          <div class="weather-unit weather-unit-toggle">&#176;F</div>
          <mat-slide-toggle [(ngModel)]="weatherUnitC" (change)="changeUnit()"></mat-slide-toggle>
          <div class="weather-unit weather-unit-toggle">&#176;C</div>
        </div>
      </div>
    </div>

</div>

</div>
