.content {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1em;
  font-weight: 300;
}

.weather-form-field {
  max-width: 8em;
}

.weather-icon {
  margin-top: 0.3em;
  font-size: 7em;
}

.city {
  color: #ffffff;
  font-size: 1.6em;
  text-transform: lowercase;
}

.current-temp {
  line-height: 1em;
  font-size: 4.5em;
  font-weight: 500;
}

.harry-btn {
  border-radius: 0.2em;
  font-weight: 300;
  transition: 0.3s;
}

.harry-btn.current {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0.15);
  transition: 0.3s;}

.weather-unit {
  line-height: 1.3em;
  font-size: 0.5em;
}

.weather-unit.weather-unit-toggle {
  line-height: 1.3em;
  font-size: 1em;
}

.weather-hi-lo {
  font-size: 1.5em;
}

.weather-hi-lo > .weather-unit {
  line-height: 1.7em;
}

.weather-description {
  font-size: 1.5em;
}

.weather-misc-info {
  font-size: 0.75em;
  font-weight: 300;
}
