<div class="content" fxLayout="column" fxLayoutGap="1em">
  <div fxLayout="row">
    <div [@headerAnimations]>
      <div class="page-header">about</div>
      <div class="page-subheader">
        <span typingAnimation [typeSpeed]="25" [startDelay]="500" [hideCursorOnComplete]="true">
          who, what, when, where, how...
        </span>
      </div>
    </div>
    <span class="spacer"></span>
    <div fxLayout="column" fxLayoutGap="0.2em" fxLayoutAlign="center center" [@backAnimations]>
      <button routerLink="/nav" routerLinkActive="active" class="nav-icon-btn mat-elevation-z0">
        <div fxLayout="row" fxLayoutAlign="center center"><i class="fas fa-arrow-left fa-2x fa-fw"></i></div>
      </button>
      <div class="nav-text">back</div>
    </div>
  </div>

  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap.lt-md="1em" fxFill fxLayoutAlign="center center">

    <div fxLayout="column" fxLayoutGap="0.25em" fxFlex="40" fxFlex.lt-md="100" fxLayoutAlign="center center" [@contentAnimations]>
      <img src="assets/images/harry_200x200.jpg" alt="harry" class="harry-photo mat-elevation-z2">
      <div class="name">Hyunsoo Harry Seong (성현수)</div>
      <div class="bio-info" fxLayout="column" fxFill fxLayoutAlign="center center">
        <div><span class="white-text">hometown</span> Seoul, South Korea</div>
        <div><span class="white-text">nationality</span> United States</div>
        <div><span class="white-text">languages</span> English, Korean</div>
        <div><span class="white-text">birthday</span> August 1st, 1991</div>
        <div><span class="white-text">current residence</span> Evanston, Illinois, USA</div>
      </div>
      <div class="bio-blurb white-text" fxLayoutAlign="center center">
        Full stack developer passionate about producing high-quality web applications. Proactive, life-long learner,
        independent yet values partnership and collaboration, seeks to exceed expectations.
      </div>
    </div>

    <div fxLayout="column" fxLayoutGap="1em" fxFlex="57" fxFlex.lt-md="100">
      <div fxLayout="column" fxLayoutGap="0.25em" [@educationAnimations]>
        <div fxHide.gt-sm>
          <mat-divider></mat-divider>
        </div>

        <div class="about-header">education</div>
        <div>
          <div class="about-text white-text">Northwestern University <span class="gray-text">|</span> Evanston, IL <span class="gray-text">|</span> Class of 2013</div>
          <div class="about-text">B.A. Biological Sciences Major, Business Institutions Minor</div>
        </div>
      </div>

      <div fxLayout="column" fxLayoutGap="0.25em" [@experienceAnimations]>
        <div>
          <mat-divider></mat-divider>
        </div>

        <div class="about-header">experience</div>
        <div fxLayout="column" fxLayoutGap="0.5em">
          <div>
            <div class="about-text white-text">Northwestern University <span class="gray-text">|</span> Evanston, IL <span class="gray-text">|</span> June 2013 - Present</div>
            <div class="about-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, consequuntur delectus dolores eius error ex excepturi molestiae provident quae sit temporibus vel vero vitae! Fuga laudantium nesciunt nostrum ratione recusandae?</div>
          </div>
          <div>
            <div class="about-text white-text">bloXroute <span class="gray-text">|</span> Evanston, IL <span class="gray-text">|</span> August 2018 - Present</div>
            <div class="about-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, consequuntur delectus dolores eius error ex excepturi molestiae provident quae sit temporibus vel vero vitae! Fuga laudantium nesciunt nostrum ratione recusandae?</div>
          </div>
          <div>
            <div class="about-text white-text">Michigan State Appellate Defender Office (SADO) <span class="gray-text">|</span> Remote <span class="gray-text">|</span> October 2018 – Present</div>
            <div class="about-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, consequuntur delectus dolores eius error ex excepturi molestiae provident quae sit temporibus vel vero vitae! Fuga laudantium nesciunt nostrum ratione recusandae?</div>
          </div>
        </div>
      </div>

      <div fxLayout="column" fxLayoutGap="0.25em" [@techAnimations]>
        <div>
          <mat-divider></mat-divider>
        </div>

        <div class="about-header">technical skill sets</div>
        <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="1em" fxLayoutGap.xs="0.5em">
          <div fxLayout="column" fxLayoutGap="0.5em" fxFlex="45">
            <div>
              <div class="about-text white-text">languages</div>
              <div class="about-text">Java, Typescript, HTML/CSS/JS, PHP, Python</div>
            </div>
            <div>
              <div class="about-text white-text">databases</div>
              <div class="about-text">MySQL, OracleDB, Google Firestore NoSQL</div>
            </div>
            <div>
              <div class="about-text white-text">frameworks</div>
              <div class="about-text">Spring Boot/Thymeleaf, Firebase, Angular 2+, Cordova, Laravel</div>
            </div>
          </div>
          <div fxLayout="column" fxLayoutGap="0.5em" fxFlex="45">
            <div>
              <div class="about-text white-text">libraries</div>
              <div class="about-text">Bootstrap, jQuery, Swagger2, Angular Flex-Layout, Angular Material, Mapbox, Google Maps, ChartJS</div>
            </div>
            <div>
              <div class="about-text white-text">tools / ide's</div>
              <div class="about-text">Git, GitKraken, Docker, Maven, Postman, DataGrip, SQLDeveloper, Confluence, JIRA, IntelliJ, WebStorm, PHP Storm, PyCharm</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div fxLayout="column" fxLayoutGap="0.5em" [@websiteAnimations]>
    <div>
      <mat-divider></mat-divider>
    </div>

    <div class="about-header"><i class="fas fa-code"></i> this website</div>
    <div class="about-text">
      Built as a labor of <i class="fas fa-heart fa-sm fa-fw"></i> with
      <span class="white-text">&#123; </span>
        Angular
      <span class="white-text"> + </span>
        Google Firebase
      <span class="white-text"> }</span>
      <div>&copy; {{currentYear}} Harry Seong</div>
    </div>
  </div>

</div>
