.content {
  color: rgba(255, 255, 255, 0.7);
}

.harry-photo {
  width: 8em;
  height: 8em;
  border-radius: 50%;
  border: solid 0.2em rgba(255, 255, 255, 1);
  margin-bottom: 0.2em;
  transition: 0.3s;
}

.harry-photo:hover {
  transform: scale(1.02);
  transition: 0.3s;
}

.name {
  color: rgba(255, 255, 255, 1);
  font-size: 1.2em;
  font-weight: 500;
}

.bio-info {
  text-transform: lowercase;
  font-size: 0.85em;
}

.bio-label {
  color: rgba(255, 255, 255, 1);
}
