<div class="content" fxLayout="column" fxLayoutGap="1em">

  <app-page-header [pageHeader]="pageHeader" [pageSubheader]="pageSubheader" [pageExplanation]="pageExplanation" [pageTech]="pageTech"></app-page-header>

  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap.lt-md="1em" fxLayoutAlign="center start" fxLayoutAlign.lt-md="center center">

    <div fxLayout="column" fxLayoutGap="0.25em" fxFlex="40" fxFlex.lt-md="100" fxLayoutAlign="center center" [@contentAnimations]>
      <img src="assets/images/app/harry_200x200.jpg" alt="harry" class="harry-photo mat-elevation-z2" fxFlexOffset.gt-sm="3em">
      <div class="name">Hyunsoo Harry Seong (성현수)</div>
      <div class="bio-info" fxLayout="column" fxLayoutAlign="center center">
        <div><span class="white-text">hometown</span> Seoul, South Korea</div>
        <div><span class="white-text">nationality</span> United States</div>
        <div><span class="white-text">languages</span> English, Korean</div>
        <div><span class="white-text">birthday</span> August 1st, 1991</div>
        <div><span class="white-text">current residence</span> Evanston, Illinois, USA</div>
      </div>
      <div class="bio-blurb white-text" fxLayoutAlign="center center">
        Full stack developer passionate about producing high-quality web applications. Proactive, life-long learner,
        independent yet values partnership and collaboration, seeks to exceed expectations. Interested in effective
        business work-flows and reduction of pain-points through smart product design and development.
      </div>
    </div>

    <div fxLayout="column" fxLayoutGap="1em" fxFlex="57" fxFlex.lt-md="100">
      <div fxLayout="column" fxLayoutGap="0.25em" [@educationAnimations]>
        <div fxHide.gt-sm>
          <mat-divider></mat-divider>
        </div>

        <div class="about-header">education</div>
        <div>
          <div class="about-text white-text">Northwestern University <span class="gray-text">|</span> Evanston, IL <span class="gray-text">|</span> Class of 2013</div>
          <div class="about-text">B.A. Biological Sciences Major, Business Institutions Minor</div>
        </div>
      </div>

      <div fxLayout="column" fxLayoutGap="0.25em" [@experienceAnimations]>
        <div>
          <mat-divider></mat-divider>
        </div>

        <div class="about-header">key experiences</div>
        <div fxLayout="column" fxLayoutGap="0.5em">
          <div>
            <div class="about-text white-text">Northwestern University <span class="gray-text">|</span> Evanston, IL <span class="gray-text">|</span> May 2016 - Present</div>
            <div class="about-text white-text job-title">Senior Technical Support Specialist</div>
            <div class="about-text">
              Onboarded app development project team at the start of 2017. Created and maintained various Java/Spring Boot web apps for
              use by staff and students of the university; numbers of users ranged from 100-200 staff to 5000+ students.  Worked to convert legacy PHP/Laravel app to Angular + Java/Spring Boot app.
              Tested various uses of Docker for application packaging and deployment.
            </div>
          </div>
          <div>
            <div class="about-text white-text">bloXroute <span class="gray-text">|</span> Evanston, IL <span class="gray-text">|</span> August 2018 - Present</div>
            <div class="about-text white-text job-title">Contracted Angular Front-End Engineer</div>
            <div class="about-text">
              Integrated bloXroute's API endpoints to develop interfaces for bloXroute's public facing webpage as well
              as internal systems that visualized test progresses and results for backend engineers.
            </div>
            <div class="about-text">
              <!--<a href="http://pocdash.bxrtest.com/#/" target="_blank">-->
                <!--<i class="fas fa-external-link-alt"></i> Pocdash Comparison-->
              <!--</a>-->
              <!--&nbsp;-->
              <!--<a href="http://pocdash.bxrtest.com/#/without-bloxroute" target="_blank">-->
                <!--<i class="fas fa-external-link-alt"></i> Pocdash Individual-->
              <!--</a>-->
            </div>
          </div>
          <div>
            <div class="about-text white-text">Michigan State Appellate Defender Office (SADO) <span class="gray-text">|</span> Remote <span class="gray-text">|</span> October 2018 – Present</div>
            <div class="about-text white-text job-title">Pro Bono Technical Consultant and Developer</div>
            <div class="about-text">
              Developed social services finder app commissioned by SADO to assist Michigan citizens transitioning from
              incarceration back into society. Scheduled for launch in spring of 2019 with 400 organizations in the database.
            </div>
            <div class="about-text">
              <a href="https://project-reentry.firebaseapp.com/" target="_blank">
                <i class="fas fa-external-link-alt"></i> Project Reentry
              </a>
            </div>
          </div>
          <div>
            <div class="about-text white-text">MyBookRepo.com <span class="gray-text">|</span> Personal <span class="gray-text">|</span> February 2019 – Present</div>
            <div class="about-text white-text job-title">Personal Project Developer</div>
            <div class="about-text">
              Developing a book database application hosted on Microsoft Azure with Dockerized Java/Spring Boot resources & oAuth2 API services (Java/Spring Boot)
              and Angular front end. Application currently in alpha, but usable.
            </div>
            <div class="about-text">
              <a href="https://www.mybookrepo.com/" target="_blank">
                <i class="fas fa-external-link-alt"></i> MyBookRepo.com
              </a>
            </div>
          </div>
        </div>
      </div>

      <div fxLayout="column" fxLayoutGap="0.25em" [@techAnimations]>
        <div>
          <mat-divider></mat-divider>
        </div>

        <div class="about-header">technical skill sets</div>
        <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="1em" fxLayoutGap.xs="0.5em">
          <div fxLayout="column" fxLayoutGap="0.5em" fxFlex="45">
            <div>
              <div class="about-text white-text">languages</div>
              <div class="about-text">Java, Typescript, JavaScript ES6, HTML/CSS/SASS, PHP, Python</div>
            </div>
            <div>
              <div class="about-text white-text">databases</div>
              <div class="about-text">MySQL, OracleDB, Google Firestore NoSQL</div>
            </div>
            <div>
              <div class="about-text white-text">frameworks</div>
              <div class="about-text">Spring Boot/Thymeleaf, Angular 2+, React, Firebase, Cordova, Laravel</div>
            </div>
          </div>
          <div fxLayout="column" fxLayoutGap="0.5em" fxFlex="45">
            <div>
              <div class="about-text white-text">libraries</div>
              <div class="about-text">Bootstrap, jQuery, Swagger2, RxJS, Angular Flex-Layout, Angular Material, Material-UI, Mapbox, Google Maps, ChartJS</div>
            </div>
            <div>
              <div class="about-text white-text">tools / ide's</div>
              <div class="about-text">Git, GitKraken, Docker, Maven, npm, Postman, DataGrip, Confluence, JIRA, IntelliJ, WebStorm, PHP Storm, PyCharm</div>
            </div>
            <div>
              <div class="about-text white-text">currently learning</div>
              <div class="about-text">Microsoft Azure, Kubernetes</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div fxLayout="column" fxLayoutGap="0.5em" [@websiteAnimations]>
    <div>
      <mat-divider></mat-divider>
    </div>

    <div class="about-header"><i class="fas fa-code"></i> this website</div>
    <div class="about-text">
      Built as a labor of <i class="fas fa-heart fa-sm fa-fw"></i> with
      <span class="white-text">&#123; </span>
        Angular
      <span class="white-text"> + </span>
        Google Firebase
      <span class="white-text"> }</span>
      <div>&copy; {{currentYear}} Harry Seong</div>
    </div>
  </div>

</div>
