.content {
  color: rgba(255, 255, 255, 0.7);
}

.nav-icon-btn, .nav-icon-btn:visited {
  width: 4.2em;
  height: 4.2em;
}

.nav-text {
  font-size: 0.75em;
}

.harry-photo {
  width: 8em;
  height: 8em;
  border-radius: 50%;
  border: 0.2em solid rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 1);
  margin: 0.5em 0;
  transition: 0.3s;
}

.harry-photo:hover {
  transform: scale(1.02);
  transition: 0.3s;
}

.name {
  color: rgba(255, 255, 255, 1);
  font-size: 1.3em;
  font-weight: 500;
}

.about-header {
  color: rgba(255, 255, 255, 1);
  font-size: 1.2em;
  font-weight: 300;
}

.about-text {
  font-size: 0.75em;
  font-weight: 300;
}

.bio-info {
  text-transform: lowercase;
  font-size: 0.85em;
  font-weight: 300;
}

.bio-blurb {
  text-align: justify;
  margin-top: 1em;
  font-size: 0.85em;
  font-weight: 300;
  max-width: 25em;
}

.white-text {
  color: rgba(255, 255, 255, 1);
}

.gray-text {
  color: rgba(255, 255, 255, 0.7);
}

.fa-heart {
  color: rgba(255, 182, 193, 0.9);
}
