.weather-content {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1em;
  font-weight: 300;
}

.city {
  color: #ffffff;
  font-size: 1.6em;
  text-transform: lowercase;
}

.current-temp {
  line-height: 1em;
  font-size: 5em;
  font-weight: 500;
}

.weather-unit {
  line-height: 1.3em;
  font-size: 0.5em;
}

.weather-hi-lo {
  font-size: 1.5em;
}

.weather-hi-lo > .weather-unit {
  line-height: 1.7em;
}

.weather-description {
  font-size: 1.5em;
}

.weather-misc-info {
  font-size: 0.75em;
  font-weight: 300;
}
