<div fxLayout="row" fxLayoutAlign="center center">
  <div *ngIf="!weatherRsp" [@contentAnimations]>
    <form [formGroup]="weatherForm" fxLayout="column" fxLayoutGap="0.2em">

      <mat-form-field>
        <mat-label>zipcode</mat-label>
        <input type="text" matInput formControlName="zip" placeholder="e.g. 60201">
      </mat-form-field>
      <button type="button" mat-stroked-button [disabled]="!weatherForm.valid" (click)="getCurrentWeather()">ENTER</button>

    </form>
  </div>

  <div class="weather-content" *ngIf="weatherRsp" fxLayout="row" fxLayoutGap="0.2em" [@contentAnimations]>
    <div class="white-text weather-icon" fxLayout="column" fxLayoutAlign="start center">
      <i [ngClass]="['wi', weatherIcon]"></i>
    </div>

    <div fxLayout="column" fxLayoutGap="0">
      <div class="city">
        {{weatherRsp.name}}
      </div>
      <div class="white-text current-temp" fxLayoutAlign="start start">
        {{round(weatherRsp.main.temp)}}<span class="weather-unit">&#176;F</span>
      </div>
      <div class="white-text weather-hi-lo" fxLayoutAlign="start start">
        {{round(weatherRsp.main.temp_max)}}<span class="weather-unit">&#176;F</span>
        <span class="gray-text">&nbsp;/&nbsp;</span>
        {{round(weatherRsp.main.temp_min)}}<span class="weather-unit">&#176;F</span>
      </div>
      <div class="weather-description white-text">{{weatherRsp.weather[0].description}}</div>

      <div class="weather-misc-info white-text">
        <div>humidity&nbsp;<span class="gray-text">{{weatherRsp.main.humidity}}%</span></div>
        <div>sunrise&nbsp;<span class="gray-text">{{formatToCST_hmma(weatherRsp.sys.sunrise)}}</span></div>
        <div>sunset&nbsp;<span class="gray-text">{{formatToCST_hmma(weatherRsp.sys.sunset)}}</span></div>
      </div>
    </div>
  </div>
</div>
