<div fxLayout="row" fxLayoutAlign="center center">
  <div *ngIf="!weatherRsp" [@contentAnimations]>
    <form [formGroup]="weatherForm" fxLayout="column" fxLayoutGap="0.2em">

      <mat-form-field>
        <mat-label>zipcode</mat-label>
        <input type="text" matInput formControlName="zip" placeholder="e.g. 60201">
      </mat-form-field>
      <button type="button" mat-stroked-button [disabled]="!weatherForm.valid" (click)="getCurrentWeather()">ENTER</button>

    </form>
  </div>

  <div class="weather-content" *ngIf="weatherRsp" fxLayout="row" fxLayout.xs="column" fxLayoutGap="1em" fxLayoutGap.xs="0.5em" [@contentAnimations]>
    <div class="white-text" fxLayout="column" fxLayoutGap="0.5em">
      <i [ngClass]="['wu', 'wu-black', 'wu-128', weatherIcon]"></i>
    </div>
    <div fxLayout="column" fxLayoutGap="0">
      <div class="city">
        {{weatherRsp.name}}
      </div>
      <div class="current-temp white-text">
        <span>{{round(weatherRsp.main.temp)}}&#176;<span class="weather-unit">F</span></span>
      </div>
      <div>
        <span class="white-text">{{round(weatherRsp.main.temp_max)}}&#176;<span class="weather-unit">F</span></span>
        <span>&nbsp;/&nbsp;</span>
        <span class="white-text">{{round(weatherRsp.main.temp_min)}}&#176;<span class="weather-unit">F</span></span>
      </div>
      <div class="white-text">{{weatherRsp.weather[0].description}}</div>

      <div>
        <span class="white-text">humidity</span>&nbsp;<span>{{weatherRsp.main.humidity}}%</span>
      </div>
    </div>
  </div>
</div>
