<div fxLayout="row" fxLayoutGap="0" fxLayoutAlign="center center" class="color-div-container" [@divAnimations]>

  <div fxLayout="column" fxFlex="100/3" class="color-div div-a" [ngClass.xs]="['no-expand']" fxLayoutAlign="start center" [@colorDivAnimations]="divAState">
    <div>
      <img src="/assets/images/durian_red.png" alt="cat" class="column-image">
    </div>
    <div class="column-label">durian</div>
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1em" class="column-description">
      <div>
        Durian is a spiky fruit that grows on trees and succumbs to gravity.
      </div>
    </div>

    <button mat-stroked-button type="button" class="view-btn" (click)="viewA()">VIEW</button>
  </div>

  <div fxLayout="column" fxFlex="100/3" class="color-div div-b" [ngClass.xs]="['no-expand']" fxLayoutAlign="start center" [@colorDivAnimations]="divBState">
    <div>
      <img src="/assets/images/momo_yellow.png" alt="cat" class="column-image">
    </div>
    <div class="column-label">momo</div>
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1em" class="column-description">
      <div>
        Momo is our family's beloved cat who lives on the mushroom farm.
      </div>
    </div>

    <button mat-stroked-button type="button" class="view-btn"  (click)="viewB()">VIEW</button>
  </div>

  <div fxLayout="column" fxFlex="100/3" class="color-div div-c" [ngClass.xs]="['no-expand']" fxLayoutAlign="start center" [@colorDivAnimations]="divCState">
    <div>
      <img src="/assets/images/bird_cyan.png" alt="cat" class="column-image">
    </div>
    <div class="column-label">seagull</div>
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1em" class="column-description">
      <div>
        This hungry bird appeared near Lake Michigan and was ready to eat.
      </div>
    </div>

    <button mat-stroked-button type="button" class="view-btn" (click)="viewC()">VIEW</button>
  </div>

</div>
