.content {
  color: rgba(255, 255, 255, 0.7);
}

.music-header {
  color: rgba(255, 255, 255, 1);
  font-size: 1.2em;
  font-weight: 300;
  text-transform: lowercase;
}

.music-text {
  font-size: 0.75em;
  font-weight: 300;
  text-transform: lowercase;
}

.song-name-div {
  width: 18em;
}

.song-name, .song-name:hover {
  color: rgba(255, 255, 255, 1);
  font-size: 1.2em;
  font-weight: 300;
  text-transform: lowercase;
}

.song-name {
  text-decoration: underline solid transparent;
  transition: 0.15s;
}

.song-name:hover {
  text-decoration: underline solid Currentcolor;
  transition: 0.15s;
}

.fa-spotify {
  color: #1DB954;
}

.album-cover {
  height: 18em;
}

