.content {
  color: rgba(255, 255, 255, 0.7);
}

.nav-icon-btn, .nav-icon-btn:visited {
  width: 4.2em;
  height: 4.2em;
}

.nav-text {
  font-size: 0.75em;
}

.music-header {
  color: rgba(255, 255, 255, 1);
  font-size: 1.2em;
  font-weight: 300;
  text-transform: lowercase;
}

.music-text {
  font-size: 0.75em;
  font-weight: 300;
  text-transform: lowercase;
}

.song-name {
  color: rgba(255, 255, 255, 1);
  font-size: 1.2em;
  font-weight: 300;
  text-transform: lowercase;
}

.album-cover {
  height: 18em;
}

