<div class="content" fxLayout="column" fxLayoutGap="2em" fxLayoutGap.xs="1em">
  <div fxLayout="row">
    <div [@headerAnimations]>
      <div class="page-header">photos</div>
      <div class="page-subheader">
        <span typingAnimation [typeSpeed]="30" [startDelay]="500" [hideCursorOnComplete]="true">
          moments captured in rectangular forms...
        </span>
      </div>
    </div>
    <span class="spacer"></span>
    <div fxLayout="column" fxLayoutGap="0.2em" fxLayoutAlign="center center" [@backAnimations]>
      <button routerLink="/nav" routerLinkActive="active" class="nav-icon-btn mat-elevation-z0">
        <div fxLayout="row" fxLayoutAlign="center center"><i class="fas fa-arrow-left fa-2x fa-fw"></i></div>
      </button>
      <div class="nav-text">back</div>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center" [@progressAnimations]>
    <div fxLayout="column" fxLayoutGap="0.5em" class="in-progress" fxLayoutAlign="center center">
      <div><i class="fas fa-hammer fa-5x fa-fw"></i></div>
      <div class="in-progress-text">work in progress...</div>
    </div>
  </div>
</div>
