<div class="content" fxLayout="column" fxLayoutGap="1em" fxLayoutGap.xs="1em">

  <app-page-header [pageHeader]="pageHeader" [pageSubheader]="pageSubheader" [pageExplanation]="pageExplanation" [pageTech]="pageTech"></app-page-header>

  <div fxLayout="row" fxLayoutGap="1.5em" fxLayoutGap.xs="1em" fxLayoutAlign="center center">
    <div fxLayout="column" fxFlex="100/3" class="color-div div-a" fxLayoutAlign="center center" [@divAAnimations]>
      <i class="fas fa-cat fa-fw fa-3x"></i>
      <div>mr. kibbles</div>
    </div>
    <div fxLayout="column" fxFlex="100/3" class="color-div div-b" fxLayoutAlign="center center" [@divBAnimations]>
      <i class="fas fa-crow fa-fw fa-3x"></i>
      <div>jerry</div>
    </div>
    <div fxLayout="column" fxFlex="100/3" class="color-div div-c" fxLayoutAlign="center center" [@divCAnimations]>
      <i class="fas fa-dragon fa-fw fa-3x"></i>
      <div>lord trent</div>
    </div>
  </div>

</div>
