<div class="content" fxLayout="column" fxLayoutGap="2em" fxLayoutGap.xs="1em">
  <div [@headerAnimations]>
    <div class="page-header">places</div>
    <div class="page-subheader">where we've been, where we are...</div>
  </div>

  <!--Mapbox-->
  <div id="map" [@contentAnimations]></div>

  <div fxLayout="row wrap" fxLayoutGap="0.5em" fxLayoutAlign="center center" [@btnAnimations]>
    <button mat-stroked-button *ngFor="let place of places" (click)="fly(place.coords)" class="fly-btn">
      {{place.name}}
    </button>
  </div>
</div>
