.content {
  color: rgba(255, 255, 255, 0.7);
}

#map {
  height: 25em;
  width: 100%
}

.place-btn {
  margin: 0.2em 0;
  padding: 0.1em 1em;
  font-size: 0.5em;
  font-weight: 300;
  transition: 0.3s;
  border-radius: 0.2em;
}

.place-btn.current {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0.15);
  transition: 0.3s;
}

.place-name {
  color: rgba(255, 255, 255, 1);
  font-size: 1.2em;
}

.place-years {
  color: rgba(255, 255, 255, 0.85);
  font-size: 0.75em;
  font-weight: 500;
}

.place-text {
  font-size: 0.75em;
  font-weight: 300;
}

.year-slider {
  margin-bottom: 2em;
}

::ng-deep .mat-accent .mat-slider-thumb {
  background-color: white;
}
::ng-deep .mat-accent .mat-slider-thumb-label {
   background-color: white;
 }
::ng-deep .mat-accent .mat-slider-thumb-label-text {
  color: black;
}
::ng-deep .mat-accent .mat-slider-track-fill {
  background-color: white;
}
