.content {
  color: rgba(255, 255, 255, 0.7);
}

#map {
  height: 25em;
  left: 0;
  right: 0;
}

.fly-btn {
  margin: 0.2em 0;
  font-weight: 300;
}

.fly-btn.current {
  background-color: rgba(255, 255, 255, 0.15);
}

.place-name {
  font-size: 1.2em;
}
