<div class="content" fxLayout="column" fxLayoutGap="0.8em" fxLayoutGap.xs="0.5em">

  <app-page-header [pageHeader]="pageHeader" [pageSubheader]="pageSubheader" [pageExplanation]="pageExplanation" [pageTech]="pageTech"></app-page-header>

  <!--Mapbox-->
  <div>
    <div id="map" class="map" [ngClass.xs]="['map-xs']" [@mapAnimations]></div>
  </div>

  <div fxLayout="column" fxLayoutGap="0" [@btnAnimations]>
    <div fxLayout="row" fxFill fxLayoutGap="0.2em" fxLayoutAlign="center center">
      <button mat-button (click)="previousPlace()" class="change-place-btn">
        <span><i class="fas fa-angle-left"></i> then</span>
      </button>
      <mat-slider fxFill fxFlex="50" fx.Flex.xs="90" tickInterval="1" min="1" [max]="places.length"
                  [(value)]="currentPlaceOrder" (change)="sliderChange()" class="year-slider"></mat-slider>
      <button mat-button (click)="nextPlace()" class="change-place-btn">
        <span>now <i class="fas fa-angle-right"></i></span>
      </button>
    </div>

    <div fxLayout="row wrap" fxLayoutGap="0.5em" fxLayoutAlign="center center">
      <button mat-stroked-button *ngFor="let place of places" (click)="updateCurrentPlace(place)" class="place-btn"
              [class.current]="place.order==currentPlace.order" fxLayoutAlign="center center">
        {{place.displayName}}
      </button>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center" [@contentAnimations] *ngIf="currentPlace!=null">
    <div fxLayout="column" fxLayoutGap="0.2em" fxFlex="55" fxFlex.sm="80" fxFlex.xs="100">
      <div class="place-name"><i class="fas fa-map-marker-alt"></i> {{currentPlace.fullName}}</div>

      <div>
        <div class="place-years">
          {{currentPlace.years.start}}-{{currentPlace.years.end==null || currentPlace.years.end=='' ? 'Present' : currentPlace.years.end}}
        </div>
        <div class="place-text">{{currentPlace.description}}</div>
      </div>
    </div>
  </div>

</div>
