<div class="content" fxLayout="column" fxLayoutGap="0.8em" fxLayoutGap.xs="0.5em">
  <div [@headerAnimations]>
    <div class="page-header">places</div>
    <div class="page-subheader">where we've been, where we are...</div>
  </div>

  <!--Mapbox-->
  <div>
    <div id="map" [@mapAnimations]></div>
  </div>

  <div fxLayout="row wrap" fxLayoutGap="0.5em" fxLayoutAlign="center center" [@btnAnimations]>
    <button mat-stroked-button *ngFor="let place of places" (click)="fly(place)" class="fly-btn" [class.current]="place.order==currentPlace.order">
      {{place.order}}. {{place.displayName}}
    </button>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center" [@contentAnimations] *ngIf="currentPlace!=null">
    <div fxLayout="column" fxLayoutGap="0.2em" fxFlex="55" fxFlex.sm="80" fxFlex.xs="100">
      <div class="place-name"><i class="fas fa-map-marker-alt"></i> {{currentPlace.fullName}}</div>

      <div>
        <div class="place-years">
          {{currentPlace.years.start}}-{{currentPlace.years.end==null || currentPlace.years.end=='' ? 'Present' : currentPlace.years.end}}
        </div>
        <div class="place-text">{{currentPlace.description}}</div>
      </div>
    </div>
  </div>

</div>
