<div class="content" fxFlex="100" fxLayout="column" fxLayoutAlign="center center">
  <div fxLayout="row" fxLayoutGap="4em" fxLayoutGap.lt-sm="3em" fxFlexOffset="5em" fxFlexOffset.lt-md="2em" [@transitionAnimations]>

    <div fxLayout.gt-xs="row" fxLayout.lt-sm="column" fxLayoutGap.gt-xs="4em" fxLayoutGap.lt-sm="2em">
      <div fxLayout="column" fxLayoutGap="0.75em" fxLayoutAlign="center center">
        <button routerLink="/secret/x" routerLinkActive="active" class="nav-icon-btn mat-elevation-z0">
          <span><i class="fas fa-flask fa-3x fa-fw nav-icon"></i></span>
        </button>
        <div class="nav-text">experimental</div>
      </div>
    </div>

  </div>
</div>
