<div class="content">

  <!-- Video -->
  <video #video muted (ended)="videoEnded()" [class]="vidStatus=='playing' ? '' : 'paused'" [@videoLoadAnimation]
         poster="assets/images/typewriter_3000x2000.jpg">
    <source src="assets/videos/typewriter.mp4" type="video/mp4">
  </video>

  <div fxLayout="column" fxLayoutGap="1em">
    <div fxLayout="row" fxFill fxLayoutAlign="end end" fxLayoutAlign.xs="center center">

      <div fxLayout="column" fxFlex="35" fxFlex.sm="60" fxFlex.xs="100" class="info-box" [@transitionAnimations]>
        <div class="info-box-header">
          welcome
        </div>

        <div fxLayout="column" fxLayoutGap="1em">
          <div class="info-box-text">
            The typewriter that you see here is the Remington Rand Deluxe Model 5, a model manufactured in the 1940's.
            I was inspired to acquire a typewriter after reading about Tom Hanks' quirky fascination and passion
            for these mechanical word factories.
          </div>

          <div class="info-box-text">
            My relationship with technology is a necessary one, though one which continues to exist with a faint whisper of
            the hackneyed, hyphenated adjective, "love-hate."
          </div>

          <div class="info-box-text">
            You are welcome to enter and peer about into the world of the man who sits on the proverbial fence regarding his
            relationship to the aforementioned modern necessity.
          </div>
        </div>

        <div fxLayout="row" fxLayoutGap="1em" fxFill fxLayoutAlign="center center" class="info-box-actions">
          <button mat-stroked-button type="button" class="btn" routerLink="/nav" routerLinkActive="active">
            <span>ENTER</span>
          </button>

          <button mat-stroked-button (click)="toggleVideo()" class="btn">
            <span *ngIf="vidStatus=='playing'"><i class="fas fa-pause fa-fw"></i>&nbsp;PAUSE</span>
            <span *ngIf="vidStatus=='paused'"><i class="fas fa-play fa-fw"></i>&nbsp;PLAY</span>
            <span *ngIf="vidStatus=='stopped'"><i class="fas fa-redo-alt fa-fw"></i>&nbsp;REPLAY</span>
          </button>
        </div>
      </div>

    </div>
  </div>

</div>
