/* Style the video: 100% width and height to cover the entire window */
video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  opacity: 0.5;
  transition: 1s;
}

video.playing {
  opacity: 1;
}

.btn {
  height: 2.8em;
  width: 8em;
  color: rgba(255, 255, 255, 0.75);
  border-color: rgba(255, 255, 255, 0.75);
  border-radius: 0.2em;
  transition: 0.3s
}

.btn:hover {
  color: rgba(255, 255, 255, 1);
  border-color: rgba(255, 255, 255, 1);
  transition: 0.3s
}

.info-box {
  background-color: rgba(70, 70, 70, 0.6);
  color: rgba(255, 255, 255, 0.75);
  padding: 2em;
  border-radius: 0.175em;
  font-size: 0.9em;
  font-weight: 300;
  transition: 0.3s;
}

.header.spacer {
  transition: 0.2s;
}

.header.spacer.minimized {
  flex: 0 0;
  transition: 0.2s;
}

.info-box.minimized {
  background-color: rgba(70, 70, 70, 0);
  transition: 0.3s;
}

.min-max-btn {
  color: rgba(255, 255, 255, 0.75);
  background-color: rgba(255, 255, 255, 0);
  border: solid 1pt rgba(255, 255, 255, 0.75);
  border-radius: 50%;
  height: 2.6em;
  width: 2.6em;
  transition: 0.3s
}

.min-max-btn:hover {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0.1);
  border: solid 1pt rgba(255, 255, 255, 1);
  cursor: pointer;
  transition: 0.3s
}

.info-box-header {
  font-size: 2.2em;
  letter-spacing: 0.13em;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
}

.info-box-content {
  padding: 0.5em 0 1em 0;
}
